Biblioteca/Service References/ReferenciaServicio/ServicioBiblioteca.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarLibros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busquedalibros" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="area" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarLibrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarLibrosResult" type="tns:ArrayOfLibro" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLibro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Libro" nillable="true" type="tns:Libro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Libro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_libro" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Autor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ubicacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Editorial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Año" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" nillable="true" type="tns:TipoUsuario" />
          <s:element minOccurs="1" maxOccurs="1" name="Stock" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipoUsuario">
        <s:restriction base="s:string">
          <s:enumeration value="Normal" />
          <s:enumeration value="Reserva" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="buscarLibrosSoapIn">
    <wsdl:part name="parameters" element="tns:buscarLibros" />
  </wsdl:message>
  <wsdl:message name="buscarLibrosSoapOut">
    <wsdl:part name="parameters" element="tns:buscarLibrosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioBibliotecaSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarLibros">
      <wsdl:input message="tns:buscarLibrosSoapIn" />
      <wsdl:output message="tns:buscarLibrosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioBibliotecaSoap" type="tns:ServicioBibliotecaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarLibros">
      <soap:operation soapAction="http://tempuri.org/buscarLibros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioBibliotecaSoap12" type="tns:ServicioBibliotecaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarLibros">
      <soap12:operation soapAction="http://tempuri.org/buscarLibros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioBiblioteca">
    <wsdl:port name="ServicioBibliotecaSoap" binding="tns:ServicioBibliotecaSoap">
      <soap:address location="http://localhost:2504/ServicioBiblioteca.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioBibliotecaSoap12" binding="tns:ServicioBibliotecaSoap12">
      <soap12:address location="http://localhost:2504/ServicioBiblioteca.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>